@import "../../styles/all";

.event_card {
    padding-right: 20px;
    width: calc(25% - 20px);
    min-height: 250px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: $defaultTransition;
    overflow: hidden;
    &:hover {
        transform: translateY(-10px);
        .event_card {
            &___background {
                filter: blur(0px);
                -webkit-filter: blur(0px);
                &::before {
                    opacity: 0.5;
                }
            }
        }
    }

    &___background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: blur(1px);
        -webkit-filter: blur(1px);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: $colorPrimary66;
            z-index: 1;
            transition: $defaultTransition;
            opacity: 1;
        }
    }

    &___content {
        padding: 20px;
        position: relative;
        z-index: 2;
    }

    .eventCard {
        // width: 300px;
        border-radius: 6px;
        font-family: $fontLight;
        color: $colorWhite;
        min-height: 200px;
        padding: 1rem;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: column;
        user-select: none;
        cursor: pointer;
        overflow: hidden;

        .eventCardBackground,
        .eventCardBackgroundBlur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: $colorPrimary66;

            &.eventCardBackgroundBlur {
                filter: blur(2px);
                -webkit-filter: blur(2px);
            }
        }

        .title {
            font-family: $fontBold;
        }
    }
}
