@import "../../styles/all";

.filter_item {
    cursor: pointer;
    margin: 10px;
    color: $colorWhite;
    opacity: 0.5;
    transition: $defaultTransition;
    &___label {
        font: {
            size: 11px;
            weight: 300;
        }
    }
    &.active {
        opacity: 1;
    }
}
