// Displays
%displayFlexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%displayRowFlexStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%displayRowReverseFlexStart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

%displayRowFlexStartStretch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

%displayRowFlexStartAll {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

%displayRowFlexEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

%displayRowSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%displayRowSpaceBetweenAlignTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

// Displays Column text center
%displayFlexColumnCenterText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// Displays Column
%displayFlexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%displayColumnFlexStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

%displayColumnReverseFlexStart {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

%displayColumnFlexEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

%displayColumnFlexEndBottomLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

%displayColumnSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

%displayColumnSpaceBetweenFlexStart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
